*{ box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
outline: none;
box-sizing: border-box;;
}

body{
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #06283d;
}

.conteiner{
    position: relative;
    width: 1000px;
    padding-bottom: 100px;
    padding-top: 100px;
    background: #fff;
    padding: 28px 32px;
    border-radius: 18px;
    
}

.PIparte1{
position: relative;
text-align: center;
text-justify: auto;
padding: 50px 0px 100px 0px;;
}

.PIparte2{
position: relative;
text-align: center;
text-justify: auto;
padding: 50px 0px 75px 0px;;
}

.PIparte3{
    position: relative;
    text-align: center;
    text-justify: auto;
    padding: 50px 0px 10px 0px;;
    }

.inputnotas{
    position: absolute;
    text-align: center;
    text-justify: auto;
    padding: 50px 0px 100px 0px;
}

#ReacaopB{
    display: none;
    text-align: center;
    justify-content:center;
    font-weight: bold;
    padding-top: 10px;
}
#ReacaopR{
    display: none;
    text-align: center;
    justify-content:center;
    font-weight: bold;
    padding-top: 10px;
}

#ReacaoBoa{
    display: none;
    text-align: center;
    justify-content:center;
    font-weight: bold;
    padding-top: 10px;
}
.imagem_RB{
    background-image: url(images/imagem_RB.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    border-image-repeat: no-repeat; 
    display: none;
}
#ReacaoRuim{
    display: none;
    text-align: center;
    justify-content:center;
    font-weight: bold;
    padding-top: 10px;
}
.imagem_RR{
    background-image: url(images/imagem_RR.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
    border-image-repeat: no-repeat; 
    display: none;
}

#resultadovalido{
    display: none;
}
#resultadoinvalido{
    display: none;
    text-align: center;
    position: relative;
    text-justify: auto;
}

#inputnotas{
    display: none;
}

.wrapper{ 
    width: 100%;
    height: 200px;
    padding-left: 0px;
    align-items: center;
    text-align: center;
}
.imagem_enem{
    background-image: url(images/header_enem.png);
    background-size: cover;
    width: 100%;
    height: 200px;
    border-image-repeat: no-repeat;
    
}

.wrapper_video{ 
    width: 100%;
    height: auto;
    padding-left: 0px;
    align-items: center;
    text-align: center;
}

.video_1{
    position: relative;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-left: 0px;
}

.parteprogramas{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px;
    padding-bottom: 200px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
}

.programa_sisu{
    width: 100%;

    justify-content: center;
}
.programa_prouni{
    width: 100%;
    
    justify-content: center;
}
.programa_fies{
    width: 100%;
    justify-content: center;

}

.programaT{
    text-align: center;
    justify-content:center;
    font-weight: bold
}

.programaP{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}

